body {
    font-family: 'Segoe UI', sans-serif;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .dashboard {
    background: black;
    padding: 30px;
    border-radius: 20px; /* bigger radius for more rounding */
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid white;
    text-decoration: none;
}


input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;

}

button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #2ea043;
}

button.connect {
    background: #2ea043;
    color: white;
}

button.disconnect {
    background: #f85149;
    color: white;
}

.logout {
    display: inline-block;
    margin-top: 20px;
    color: #58a6ff;
    text-decoration: none;
}

.error {
    color: red;
    margin-bottom: 10px;
}

header {
    text-align: center;
    padding: 30px 0;
    background: black;
    border-bottom: 1px solid black;
    margin-top: 40px;
    
}


nav a {
    color: #58a6ff;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin: 80px auto;
    max-width: 600px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #2ea043;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.features {
    text-align: center;
    margin: 60px auto;
}

.features ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.features li {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 80px;
    color: #8b949e;
    font-size: 0.9em;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
